input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  width: 2rem;
  padding: 3px;
  display: inline;
  margin-left: .6rem;
}

td:first-child {
  text-align: end;
}

#container {
  border: 1px solid rgba(0, 0, 0, 0.357);
  border-radius: 10px;
  padding: 2rem 0;
}


td {
  border: 1px solid rgba(0, 0, 0, 0.526);
}

th {
  border: 1px solid rgba(0, 0, 0, 0.537);
}

table {
  table-layout: fixed;
  width: 100%;
}


input[type=text] {
  max-width: 8rem;
}

@media (max-width: 350px) {
  input[type=text] {
    max-width: 7rem;
  }

  table {
    table-layout: auto;
  }
}

